<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Welcome on our platform, {{name}} {{surname}}!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 5px;">
                You need submit your email, please click on button
            </p>
            <a style="margin-bottom: 5px" href="http://{{app_host}}:{{app_port}}/auth/activate/{{action_token}}">VERIFY</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button>SUBMIT</button>
        </td>
    </tr>
</table>
